

/*This makes the outer board appear properly.*/
#total_board{
  background: #CCC;
  border: #999 1px solid;
  width:800px;
  height:540px;
  padding:24px;
  margin:0px auto;
}

/*This makes each tile appear properly.*/
#total_board > div {
background: url() no-repeat;
border: 1px solid;
width: 71px;
height: 71px;
float: left;
margin: 10px;
padding: 20px;
font-size: 64px;
cursor:pointer;
text-align: center;
}
