

@font-face {
    font-family: Hylia Serif;
    src: url("Hylia Serif Beta v0-009/HyliaSerifBeta-Regular.otf") format("opentype");
}


/*This lets the size of the page control the position of the tiles.*/
#hereWeFlex {
  display: flex;
  justify-content: center;
  align-content: center;
}


/*This makes the outer board appear properly.*/
#total_board{
  background: transparent;
  /*border: #999 1px solid;*/
  width:1000px;
  height:700px;
  padding:24px;
  margin-top: 20pt;
  /*display: flex;*/
  /*margin:0px auto;*/
}

/*This makes each tile appear properly.*/
#total_board > div {
/*background: url() no-repeat;*/
/*background-color: #0223FF;
border: 1px solid;
width: 71px;
height: 71px;
float: left;
margin: 10px;
padding: 20px;
font-size: 64px;
cursor:pointer;
text-align: center;*/
}

/*This makes the tiles.*/
/*.tile{*/
li{
margin: 2pt;
height: 120pt;
width: 120pt;
background-color: #7986cb;
/*padding-bottom: ;*/
position: relative;
display: inline-block;
box-sizing: border-box;
float: left;
z-index: 100;
border: 1pt solid black;
border-radius: 5px;
}




/*These control the card appearances while the card is hidden and flipped.*/
.hide{
  transform:rotateX(180deg);
  transition: All 1s;
  /*color: #7986cb;*/
  color: transparent;
  /*text-shadow: 0 0 5px #7986cb;*/
  background-color: #7986cb;

  background-image: url("images/R90Odkc.jpg");
  background-size: 370% 280%;
  background-repeat: no-repeat;
  background-position: center center;
}

.show{
/*This controls the flip transitions.*/
transition: All 1s;
transform:rotateX(360deg);
/*font-size: 15pt;*/

/*color: black;*/
background-color: #7986cb;
border: 2pt solid #7733FF;

text-align: center;
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center center;
background-color: white;
color: transparent;

}

.show_Forever{
/*This controls the flip transitions.*/
transition: All 1s;
transform:rotateX(360deg);
/*font-size: 25pt;
color: black;
background-color: #7986cb;*/
border: 2pt solid #5EFF33;
color: transparent;


  text-align: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;

}
/*This controls the start game message styling.*/
.start_Message {
  font-family: Hylia Serif, Georgia, Times;
  font-size: 3em;
  font-variant: small-caps;
  color: white;
  /*-webkit-text-stroke-width: 0px;
   -webkit-text-stroke-color: #DB4C4C;*/
  width: 100%;
  background-color: #2685CE;
  border: 0px;
  margin-top: 320pt;
  margin-left: 33%;

/*This creates the border.*/
  border-radius: 25px;
  border: 4px solid black;
  padding: 0px;
  width: 25%;
  height: 70px;

  /*This creates the text shadow:*/
   text-shadow: 0 1px 1px #DB4C4C;

   /*This stretches the text:*/
   transform: scale(1, 1.5);
  -webkit-transform: scale(1, 1.5); /* Safari and Chrome */
  -moz-transform: scale(1, 1.5); /* Firefox */
  -ms-transform: scale(1, 1.5); /* IE 9+ */
  -o-transform: scale(1, 1.5); /* Opera */
}


/*This changes the final message styling.*/
.end_Message {
  margin-top: -20px;
  font-family: Georgia;
  font-size: 4em;
  font-variant: small-caps;
  color: #2685CE;
  /*-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;*/
  width: 90%;
  background-color: 0;
  border: 0px;
}





.life_Container{
  margin: 10pt
  padding: 10 pt
  border: 1px solid black;
  background-color: red;
  width: 100%;
  height: 71px;
  display:flex;
}
.heart{
  width: 10px;
  height: 10px;
  background-color: green;
  margin: 10pt;
}












/*This lets the tile re-size if the screen gets smaller.*/
@media screen and (max-width: 1058px){
 .tile{
  background-color: green;
  height: 15%;
  width: 15%;
 }
}

@media screen and (max-width: 810px){
 .tile{
  background-color: pink;
  height: 127px;
  width: 127px;
 }
}

/*This moves the clock*/
#clockGoesHere{
/*float: right;*/

}



/*This makes the tile*/
/*.tile {
  display: inline-block;
  transition: 0.2s;
  opacity: 0.8;
  margin: 4px;
  height: 100px;
  width: 100px;
  border: thin solid blue;
  text-align: center;
}*/

/*This makes the background color.*/
body, html {
  text-align: center;
  background-image: url("images/R90Odkc copy.jpg");
  background-size: 270% 270%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
}









/*These control the tile images:*/
/*These control the tile images:*/
/*These control the tile images:*/
.a{
  background-image: url("Tile_Images/Distressed-Zelda-Triforce-Symbol-T-Shirt.jpg");
}
.b{
  background-image: url("Tile_Images/small_the-legend-of-zelda-video-game-minimal-sword.jpg");
}
.c{
  background-image: url("Tile_Images/HFme1Xz.gif");
}
.d{
  background-image: url("Tile_Images/tenor.gif");
}
.e{
  background-image: url("Tile_Images/192148.jpg");
}
.f{
  background-image: url("Tile_Images/the_legend_of_zelda_sword_graphics_background_22303_3840x2400.jpg");
}
.g{
  /*blueshield*/
  background-size: 100% 120%;
  background-position: center 0pt;
  background-image: url("Tile_Images/9d5826784a3a16ca03b449ce3602afc7524c5eb6_hq.jpg");
}
.h{
  background-image: url("Tile_Images/tenor-1.gif");
}
.i{
  background-image: url("Tile_Images/bUv4KW8.gif");
}
