

/*This lets the size of the page control the position of the tiles.*/
#hereWeFlex {
  display: flex;
  justify-content: center;
  align-content: center;
}


/*This makes the outer board appear properly.*/
#total_board{
  background: #CCC;
  border: #999 1px solid;
  width:1000px;
  height:700px;
  padding:24px;
  margin-top: 20pt;
  /*display: flex;*/
  /*margin:0px auto;*/
}

/*This makes each tile appear properly.*/
#total_board > div {
/*background: url() no-repeat;*/
background-color: #0223FF;
border: 1px solid;
width: 71px;
height: 71px;
float: left;
margin: 10px;
padding: 20px;
font-size: 64px;
cursor:pointer;
text-align: center;
}

/*This makes the tiles.*/
/*.tile{*/
li{
margin: 2pt;
height: 120pt;
width: 120pt;
background-color: #7986cb;
/*padding-bottom: ;*/
position: relative;
display: inline-block;
box-sizing: border-box;
float: left;
z-index: 100;
border: 1pt solid black;
border-radius: 5px;
}




/*These control the card appearances while the card is hidden and flipped.*/
.hide{
  transform:rotateX(180deg);
  transition: All 2s;
  /*color: #7986cb;*/
  color: transparent;
  /*text-shadow: 0 0 5px #7986cb;*/
  background-color: #7986cb;

}


.show{
/*This controls the flip transitions.*/
transition: All 2s;
transform:rotateX(360deg);

color: black;
background-color: #7986cb;
border: 2pt solid #7733FF;
}

.show_Forever{
/*This controls the flip transitions.*/
transition: All 2s;
transform:rotateX(360deg);

color: black;
background-color: #7986cb;
border: 2pt solid #5EFF33;

}





/*This lets the tile re-size if the screen gets smaller.*/
@media screen and (max-width: 1058px){
 .tile{
  background-color: green;
  height: 15%;
  width: 15%;
 }
}

@media screen and (max-width: 810px){
 .tile{
  background-color: pink;
  height: 127px;
  width: 127px;
 }
}

/*This moves the clock*/
#clockGoesHere{
/*float: right;*/

}



/*This makes the tile*/
/*.tile {
  display: inline-block;
  transition: 0.2s;
  opacity: 0.8;
  margin: 4px;
  height: 100px;
  width: 100px;
  border: thin solid blue;
  text-align: center;
}*/

/*This makes the background color.*/
body, html {
  text-align: center;
  background-color: blue;
}
