

/*This lets the size of the page control the position of the tiles.*/
#hereWeFlex {
  display: flex;
  justify-content: center;
  align-content: center;
}


/*This makes the outer board appear properly.*/
#total_board{
  background: transparent;
  /*border: #999 1px solid;*/
  width:1000px;
  height:700px;
  padding:24px;
  margin-top: 20pt;
  /*display: flex;*/
  /*margin:0px auto;*/
}

/*This makes each tile appear properly.*/
#total_board > div {
/*background: url() no-repeat;*/
background-color: #0223FF;
border: 1px solid;
width: 71px;
height: 71px;
float: left;
margin: 10px;
padding: 20px;
font-size: 64px;
cursor:pointer;
text-align: center;
}

/*This makes the tiles.*/
/*.tile{*/
li{
margin: 2pt;
height: 120pt;
width: 120pt;
background-color: #7986cb;
/*padding-bottom: ;*/
position: relative;
display: inline-block;
box-sizing: border-box;
float: left;
z-index: 100;
border: 1pt solid black;
border-radius: 5px;
}




/*These control the card appearances while the card is hidden and flipped.*/
.hide{
  transform:rotateX(180deg);
  transition: All 1s;
  /*color: #7986cb;*/
  color: transparent;
  /*text-shadow: 0 0 5px #7986cb;*/
  background-color: #7986cb;

  background-image: url("images/R90Odkc.jpg");
  background-size: 370% 280%;
  background-repeat: no-repeat;
  background-position: center center;
}

.show{
/*This controls the flip transitions.*/
transition: All 1s;
transform:rotateX(360deg);
font-size: 15pt;

color: black;
background-color: #7986cb;
border: 2pt solid #7733FF;

color: black;
}

.show_Forever{
/*This controls the flip transitions.*/
transition: All 1s;
transform:rotateX(360deg);
font-size: 25pt;
color: black;
background-color: #7986cb;
border: 2pt solid #5EFF33;

color: black;
  -webkit-text-fill-color: #CAFFCA; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #009EFF;

}

/*This changes the final message styling.*/
.end_Message {
  font-family: Georgia;
  font-size: 7em;
  font-variant: small-caps;
  color: #551EF2;
  width: 100%;
  background-color: 0;
  border: 0px;
}


/*This lets the tile re-size if the screen gets smaller.*/
@media screen and (max-width: 1058px){
 .tile{
  background-color: green;
  height: 15%;
  width: 15%;
 }
}

@media screen and (max-width: 810px){
 .tile{
  background-color: pink;
  height: 127px;
  width: 127px;
 }
}

/*This moves the clock*/
#clockGoesHere{
/*float: right;*/

}



/*This makes the tile*/
/*.tile {
  display: inline-block;
  transition: 0.2s;
  opacity: 0.8;
  margin: 4px;
  height: 100px;
  width: 100px;
  border: thin solid blue;
  text-align: center;
}*/

/*This makes the background color.*/
body, html {
  text-align: center;
  background-image: url("images/triforce_wallpaper_by_twilease-d3182ft.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
}









/*These control the tile images:*/
/*These control the tile images:*/
/*These control the tile images:*/
.b{
  text-align: center;
  background-image: url("Tile_Images/small_the-legend-of-zelda-video-game-minimal-sword.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
}
